<ul class="example-orbit-content" data-orbit data-options="animation:slide;
                  animation_speed:500;
                  pause_on_hover: false;
                  navigation_arrows:true">
  <li data-orbit-slide="headline-1">
    <div class="slide slide01">
      <div class="heading">
        <h2>Sarah Vowell</h2>
        <h3>Even writers need relief from words.</h3>
      </div>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="slide slide02">
      <div class="heading">
        <h2>Harrison Ford</h2>
        <h3>Nothing shocks me. I'm a scientist.</h3>
      </div>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="slide slide03">
      <div class="heading">
        <h2>Matthew Prior</h2>
        <h3>They always talk who never think.</h3>
      </div>
    </div>
  </li>
</ul>
