<ul class="example-orbit-content" data-orbit data-options="animation:slide;
                  animation_speed:500;
                  pause_on_hover: false;
                  navigation_arrows:true">
  <li data-orbit-slide="headline-1">
    <div class="slide">
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="slide">
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="slide">
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
</ul>
