<div class="row people">
  <div class="small-12 columns">
    <h1>Bohaterki</h1>

    <% @heroines.each do |profile| %>
      <article class="th">
        <%= link_to(heroine_path(profile)) do %>
          <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
          <h5><%= profile.fullname %></h5>
        <% end %>
      </article>
    <% end %>
  </div>
</div>
