<div class="row">
  <div class="small-12 columns">
    <h1>Ludzie</h1>

    <% @people.each do |profile| %>
      <%= link_to(person_path(profile)) do %>
        <div class="th">
          <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
