.row.people
  .small-12.columns
    %h1= t('.people')
    - if feature.active?(:search, current_user)
      = render partial: 'people/search', locals: { search: search, circles: circles, tags: tags }
    = render partial: 'shared/profiles', locals: { profiles: profiles, profile_path: :person_path }
