<div class="row">
  <div class="small-12 columns">
    <h1>Ludzie</h1>

    <% @people.each do |profile| %>
      <div class="th">
        <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
      </div>
    <% end %>
  </div>
</div>
