.circle {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 205px;
  margin-left: 20px;
  margin-top: 20px;

  .circle-ellipse {
    position: relative;
    top: 0;
    left: 0;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 10;

    .circle-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      font-size: 69px;
      font-family: "Komoda";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      width: 100%;
      height: 60px;
      z-index: 11;
    }
  }

  .circle-color {
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 9;
    background: rgba(0,0,0,0.3);
    transition: all 0.5s;
  }

  &:hover .circle-color {
    background: rgba(0,0,0,0.1);
    transition: all 0.5s;
  }

  .circle-cover {
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 8;
  }
}
