@import 'components/modal';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.landing {
  background: url(/assets/landing/airplane.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  .content {
    width: 60%;
    margin: 0 auto;

    .intro {
      margin-top: 20%;

      h1 {
        color: white;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.5;
      }

      a {
        height: 55px;
        width: 125px;
        margin: 50px auto;
        display: block;

        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 1.6em;
        line-height: 1;
        border: 1px solid #ffffff;
        padding: 13px 25px;
        overflow: hidden;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .35s;
        transition: all .35s;

        &:hover {
          background: #fff;
          color: #353946;
        }
      }
    }
  }
}

