@import 'config/fonts';
@import 'components/modal';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.landing {
  background: url(/assets/landing/airplane.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  .content {
    width: 60%;
    margin: 0 auto;

    .intro {
      margin-top: 20%;

      h1 {
        color: white;
        font-weight: normal;
        font-size: 2em;
        line-height: 1.5;
        text-align: center;
        font-family: 'Inder', sans-serif;
      }

      .go {
        margin-top: 60px;

        a {
          background: transparent;
          border: 3px solid white;
          color: white;
          display: block;
          font-family: 'Inder', sans-serif;
          font-size: 24px;
          margin: 0 auto;
          padding: 10px 40px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 240px;
          -webkit-transition: all .35s;
          transition: all .35s;

          &:hover {
            background: #fff;
            color: #353946;
          }
        }

      }

      #check {
        width: 300px;
        margin: 0 auto;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    input {
      border: none;
      display: block;
      border-radius: 2px;
      margin-bottom: 10px;
      padding: 2px 5px;
      height: 40px;
      font-size: 14px;
    }

    #signup {
      input {
        width: 100%;
      }
    }

    #signin {
      input {
        width: 100%;
      }
    }
  }
}

.login-email-input {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 40px;

  input {
    height: 100%;
    width: 75%;
    border: none;
    padding: 2px 5px;
    font-size: 14px;
    color: #4b8971;
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 10px;

    &:focus {
      outline: 0;
    }
  }

  input[type=submit] {
    background: #4b8971;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid white;
    border-left: none;
    box-shadow: none;
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    -webkit-transition: all .35s;
    transition: all .35s;

    &:hover {
      background: #cb8c6f;
    }
  }
}
