@import "config/fonts";
@import "components/modal";
@import "font-awesome";
@import "foundation/components/alert-boxes";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Inder", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.landing {
  background: image-url('landing/airplane.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  .content {
    width: 60%;
    margin: 0 auto;

    .intro {

      .logo {
        display: block;
        width: 450px;
        margin: 50px auto;
      }

      h1 {
        margin-top: 120px;
        color: white;
        font-weight: normal;
        font-size: 2em;
        line-height: 1.5;
        text-align: center;
      }

      .go {
        margin-top: 50px;

        a {
          background: transparent;
          border: 3px solid white;
          color: white;
          display: block;
          font-size: 24px;
          margin: 0 auto;
          padding: 10px 40px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 240px;
          -webkit-transition: all .35s;
          transition: all .35s;

          &:hover {
            background: #fff;
            color: #353946;
          }
        }

      }
    }

    .forms {
      width: 300px;
      padding-left: 10px;
      padding-top: 60px;

      form {
        position: relative;
      }

      .back {
        background: image-url('landing/back.png');
        width: 12px;
        height: 22px;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 6px;
        left: -20px;
        cursor: pointer;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .back {
          background: image-url('landing/back@2x.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .field-wrapper {
        display: inline-block;
        position: relative;
        width: 95%;
        height: 40px;
        padding: 6px;
        padding-left: 12px;
        background: white;

        label {
          i {
            height: 25px;
            width: 25px;
            font-size: 15px;
            line-height: 25px;
            color: #12aca3;
          }
        }

        .show-password, .hide-password {
          position: absolute;
          top: 12px;
          right: 6px;
          color: #666;
          cursor: pointer;
        }

        input {
          width: 80%;
          height: 28px;
          font-size: 14px;
          line-height: 16px;
          border: none;
          padding: 0;

          &:focus {
            outline: 0;
          }
        }

        &:nth-child(even) {
          background: #dbdbdb;
          color: #7c7b7b;

          input {
            background: #dbdbdb;
          }
        }
      }

      button {
        border: none;
        margin: 0;
        margin-top: 20px;
        width: 95%;
        background: #12aca3;
        color: white;
        text-align: center;
        font-size: 18px;
        font-family: "Source Sans Pro", sans-serif;
        text-transform: uppercase;
        padding: 12px;
        cursor: pointer;
      }

      .info {
        width: 95%;
        opacity: 0;

        &.show {
          -webkit-transition: all .5s;
          transition: all .5s;
          opacity: 1;
        }
      }
    }

    input[type=submit] {
      border: none;
    }
  }
}
