@import "config/fonts";
@import "components/modal";
@import "font-awesome";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.landing {
  background: url(/assets/landing/airplane.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  .content {
    width: 60%;
    margin: 0 auto;

    .intro {
      margin-top: 20%;

      h1 {
        color: white;
        font-weight: normal;
        font-size: 2em;
        line-height: 1.5;
        text-align: center;
        font-family: 'Inder', sans-serif;
      }

      .go {
        margin-top: 60px;

        a {
          background: transparent;
          border: 3px solid white;
          color: white;
          display: block;
          font-family: 'Inder', sans-serif;
          font-size: 24px;
          margin: 0 auto;
          padding: 10px 40px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 240px;
          -webkit-transition: all .35s;
          transition: all .35s;

          &:hover {
            background: #fff;
            color: #353946;
          }
        }

      }
    }

    .form {
      width: 300px;
      padding-left: 10px;
      padding-top: 60px;

      .field-wrapper {
        display: inline-block;
        position: relative;
        width: 95%;
        height: 40px;
        padding: 6px;
        padding-left: 12px;
        background: white;

        label {
          i {
            height: 25px;
            width: 25px;
            font-size: 15px;
            line-height: 25px;
            color: #12aca3;
          }
        }

        input {
          width: 80%;
          height: 28px;
          font-size: 14px;
          line-height: 16px;
          border: none;
          padding: 0;

          &:focus {
            outline: 0;
          }
        }

        &:nth-child(even) {
          background: #dbdbdb;
          color: #7c7b7b;

          input {
            background: #dbdbdb;
          }
        }
      }

      button {
        border: none;
        margin: 0;
        margin-top: 20px;
        width: 95%;
        background: #12aca3;
        color: white;
        text-align: center;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        padding: 12px;
        cursor: pointer;
      }
    }

    input[type=submit] {
      border: none;
    }

    #signup {
      input {
        width: 100%;
      }
    }

    #signin {
      input {
        width: 100%;
      }
    }
  }
}
