.people {
  article {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;

    h5 {
      display: table-cell;
      vertical-align: middle;
      width: 200px;
      height: 50px;
    }
  }
}
