.content{'ng-controller' => 'FormsController'}
  .intro
    %h1= t('.intro')
    .go= link_to t('.go'), dashboard_path, 'stop-event' => true, 'ng-click' => 'showModal()'

  .md-modal.md-effect-3{'ng-class' => '{"md-show": modal}'}
    .md-content
      %h3= t('.decide')
      .plane-wrapper
        .plane

  .md-overlay{'ng-click' => 'closeModal()'}
