%meta{property: 'og:title', content: 'Latające Kręgi'}
%meta{property: 'og:description', content: 'Darmowe, comiesięczne spotkaniami dla kobiet, które pociąga motto: „zarabiam robiąc to, co kocham”. Kręgi odbywają się w kilkunastu miastach i gromadzą społeczność kobiet, które chcą łączyć przedsiębiorczość z wywieraniem pozytywnego wpływu na otoczenie.'}
%meta{property: 'og:image', content: URI.join(root_url, image_path('fb.png'))}
