default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: flying_circles_development

test:
  <<: *default
  database: flying_circles_test

production:
  <<: *default
  database: flying_circles_production
  password: <%= ENV['FLYING_CIRCLES_DATABASE_PASSWORD'] %>
