default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: flying_circles_development

test:
  <<: *default
  database: flying_circles_test

production:
  <<: *default
  database: flying_circles_production
  password: <%= ENV['FLYING_CIRCLES_DATABASE_PASSWORD'] %>

heroku:
  adapter: postgresql
  database: <%= ENV['HEROKU_DATABASE'] %>
  host: <%= ENV['HEROKU_HOST'] %>
  port: <%= ENV['HEROKU_PORT'] %>
  username: <%= ENV['HEROKU_USERNAME'] %>
  password: <%= ENV['HEROKU_PASSWORD'] %>
