development:
  clients:
    default:
      database: flying_circles_development
      hosts:
        - localhost:27017
      options:
test:
  clients:
    default:
      database: flying_circles_test
      hosts:
        - localhost:27017
      options:
        read:
          mode: primary
        max_pool_size: 1
production:
  clients:
    default:
      uri: <%= ENV['MONGOLAB_URI'] %>
