.feedback {
  position: fixed;
  bottom: 0;
  right: 20px;
  background: black;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px dashed white;
  border-bottom: none;

  a {
    color: white;
    text-decoration: none;
  }
}
