.md-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 630px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(8, 59, 175, 0.27);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-content {
  color: #fff;
  border: 2px solid #0b81b7;
  background: #f4f5f4;
  position: relative;
  margin: 0 auto;
  height: 360px;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    background: #0b81b7;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
  }

  .spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
  }

  .plane-wrapper {
    display: inline-block;
    width: 310px;
    height: 310px;
    padding: 40px;
    margin: 0;
    float: left;

    .plane {
      background: image-url('landing/plane.png');
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin: 40px;
      height: 230px;
      width: 230px;
      margin: 0;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .plane {
        background: image-url('landing/plane@2x.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

.md-content > div {
  padding: 0;
  margin: 0;
  float: left;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
