html {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

nav {
  padding: 20px 0;

  .logo {
    float: left;
    background: image-url('logo.png');
    height: 140px;
    width: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  ul {
    float: right;

    li {
      display: inline-block;
    }
  }
}

.menu-item {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 95px;

  @include hover-lighten(".menu-item-people", #f39e17);
  @include hover-lighten(".menu-item-circles", #c0392b);
  @include hover-lighten(".menu-item-profile", #2eb165);
  @include hover-lighten(".menu-item-sign-out", #2980b9);

  .menu-item-ellipse {
    position: relative;
    top: 0;
    left: 0;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 10;
  }

  .menu-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: $base-size;
    font-family: 'Dosis', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    width: 100%;
    height: $base-size;
    z-index: 11;
  }

  .menu-item-color {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 9;
  }
}
