html {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

nav {
  padding: 20px 0;

  .logo {
    float: left;
    background: image-url('logo.png');
    height: 140px;
    width: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  ul {
    float: right;

    li {
      display: inline-block;
    }
  }
}

@import url(http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext);

.menu-item {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 95px;

  .menu-item-circles { background: #f46b6b; }
  .menu-item-people { background: #006b6b; }
  .menu-item-profile { background: #7d919f; }

  .menu-item-ellipse {
    position: relative;
    top: 0;
    left: 0;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 10;
  }

  .menu-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: $base-size;
    font-family: 'Dosis', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    width: 100%;
    height: $base-size;
    z-index: 11;
  }

  .menu-item-color {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 9;
    opacity: 1.0;
    transition: all 0.5s;
  }

  &:hover .menu-item-color {
    opacity: 0.7;
    transition: all 0.5s;
  }
}
