.profile .circle {
  &.krakow {
    background-color: #2ecc71;
  }
  &.warszawa {
    background-color: #3498db;
  }
  &.trojmiasto {
    background-color: #9b59b6;
  }
  &.slask {
    background-color: #34495e;
  }
  &.tarnow {
    background-color: #16a085;
  }
  &.poznan {
    background-color: #27ae60;
  }
  &.lomianki {
    background-color: #2980b9;
  }
  &.bochnia {
    background-color: #8e44ad;
  }
  &.berlin {
    background-color: #2c3e50;
  }
  &.wroclaw {
    background-color: #f1c40f;
  }
  &.ldz {
    background-color: #e67e22;
  }
}
