.top-bar {
  padding-bottom: 50px;
  border-bottom: 1px solid black;

  .name h1 a:hover {
    background-color: #272727;
    color: white;
  }
}

#rsvp-container {
  padding: 10px;
  background: #62ac75;

  #rsvp-mine {
    h3 {
      color: white;
    }

    .label {
      background-color: #83c49e;
      width: 100%;
      text-align: center;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

#rsvp-change .action {
  display: inline-block;
}

.th {
  box-shadow: none;

  a, img {
    width: 200px;
    height: 200px;
  }

  a {
    color: black;
  }
}

.profile {
  position: relative;

  .circle {
    position: absolute;
    right: 10px;
    top: 170px;
  }

  .events {
    position: absolute;
    right: 60px;
    top: 170px;
  }
}

.slide {
  padding: 50px;
  height: 500px;
  background: rgb(200, 200, 200);
}

.people article {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
