.th {
  box-shadow: none;

  a, img {
    width: 200px;
    height: 200px;
  }

  a {
    color: black;
  }
}

.profile {
  position: relative;

  .circle {
    position: absolute;
    right: 10px;
    top: 170px;
  }

  .events {
    position: absolute;
    right: 60px;
    top: 170px;
  }
}

.slide {
  padding: 50px;
  height: 500px;
  background: rgb(200, 200, 200);
}

.people article {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
