.top-bar {
  padding-bottom: 100px;
  border-bottom: 1px dotted #ccc;

  .name h1 a:hover {
    color: white;
  }

  img.logo {
    height: 100px;
  }

  .top-bar-section {
    top: 50px;
  }
}

#rsvp-container {
  padding: 10px;
  background: #62ac75;

  #rsvp-mine {
    h3 {
      color: white;
    }

    .label {
      background-color: #83c49e;
      width: 100%;
      text-align: center;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

#rsvp-change .action {
  display: inline-block;
}

.th {
  box-shadow: none;

  a, img {
    width: 200px;
    height: 200px;
  }

  a {
    color: black;
  }
}

.profile {
  position: relative;

  .profile-circle, .events {
    position: absolute;
    top: 160px;
    font-size: 21px;
  }

  .profile-circle {
    right: 10px;
    background-color: #e67e22;
  }

  .events {
    right: 85px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    padding: 0;
    background-color: #bdc3c7;
  }
}
.example-orbit-content {
  .slide {
    padding: 50px;
    height: 500px;
    background: rgb(200, 200, 200);
    position: relative;

    &.slide01 {
      background: url(/assets/header01.jpeg);
    }
    &.slide02 {
      background: url(/assets/header02.jpeg);
    }
    &.slide03 {
      background: url(/assets/header03.jpeg);
    }
  }

  .heading {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 50px;

    h2, h3 {
      color: white;
      text-shadow: 1px 1px 1px #888;
    }
  }
}

.field {
  margin: 5px auto;
}

.select2-container.select2-container-multi {
  width: 100%;
}

.photo {
  float: left;
}

.extended-info {
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.alert-box {
    color: #242823;
}
