.th {
  box-shadow: none;

  a, img {
    width: 200px;
    height: 200px;
  }

  a {
    color: black;
  }
}

.profile {
  position: relative;

  .profile-circle, .events {
    position: absolute;
    top: 160px;
    font-size: 21px;
  }

  .profile-circle {
    right: 10px;
    background-color: #e67e22;
  }

  .events {
    right: 85px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    padding: 0;
    background-color: #bdc3c7;
  }
}

.field {
  margin: 5px auto;
}

.select2-container.select2-container-multi {
  width: 100%;
}

.photo {
  float: left;
}

.extended-info {
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
