html, body {
  height: 100%;
  font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.landing {
  background: url(/assets/landing/airplane.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


  h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 33.33%;
    transform: translateY(-50%) translateX(-33.33%);
    width: 60%;
  }

  a {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1;
    border: 1px solid #ffffff;
    padding: 13px 25px;
    display: inline-block;
    margin: 0 3px 0;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .35s;
    transition: all .35s;

    &:hover {
      background: #fff;
      color: #353946;
    }
  }
}

